Eclipse_WS/.metadata
Eclipse_WS/.metadata/*
Eclipse_WS/bddTraining/target
Eclipse_WS/bddTraining/.settings/
Eclipse_WS/bddTraining/.classpath
Eclipse_WS/bddTraining/.project
~$Notes.docx
Eclipse_WS/actitime/.classpath
Eclipse_WS/actitime/.gitignore
Eclipse_WS/actitime/.project
Eclipse_WS/actitime/.settings/
Eclipse_WS/actitime/target

